#why-lease {
    margin: 150px 0;

    .why-lease__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        text-align: center;

        .why-lease__item-img {
            width: 150px;
            height: 150px;
        }

        .why-lease__item-title {
            margin: 30px 0;

            font-size: 24px;
            font-weight: 700;

        }

        .why-lease__item-text {
            text-align: left;
            line-height: 20.8px;
        }
    }
}

@media (max-width: 860px) {
    #why-lease {
        .why-lease__list {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }
}

@media (max-width: 560px) {
    #why-lease {
        margin: 50px 0;
        .why-lease__list {
            grid-template-columns: repeat(1, 1fr);
            gap: 60px;
        }
        .why-lease__list .why-lease__item-title {
            font-size: 34px;
        }
    }
}